[submodule "lib"]
	path = lib
	url = https://github.com/Iol-lshh/hhp-sub.git
[submodule "hhp-sub"]
	path = hhp-sub
	url = https://github.com/Iol-lshh/hhp-sub.git
[submodule "src/main/resources/properties"]
	path = src/main/resources/properties
	url = https://github.com/Iol-lshh/hhp-sub.git
