<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔 로그 패턴: 색상 적용 %clr(pattern){color} -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyyMMdd'T'HHmmss}] %clr(%-5level) %clr(---){faint} %clr([%thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n" />
    <!-- 외, 패턴 설정 -->
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyyMMdd'T'HHmmss}] %-5level [%thread] %-40.40logger{16} : %msg%n" />

    <!-- appender: 로깅 이벤트 처리 - 0개 이상 -->
    <!-- console standard out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>
    <!-- aws appender -->
    <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
        <!-- logback 클래식의 필터-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!-- prod 용 로그 그룹명 -->
        <logGroupName>${Log_Group_Name:error}</logGroupName>
<!--        <if condition='property("spring.profiles.active").contains("prod")'>-->
<!--            <then>-->
<!--                &lt;!&ndash; prod 용 로그 그룹명 &ndash;&gt;-->
<!--                <logGroupName>${Log_Group_Name:error}</logGroupName>-->
<!--            </then>-->
<!--        </if>-->
        <logStreamUuidPrefix>error-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
    </appender>

    <springProfile name="local,local2,local3">
        <!--logger: 로깅을 기록하는 녀석 - 0개 이상-->
<!--        <logger name="org.springframework" level="INFO">-->
<!--            <appender-ref ref="STDOUT" />-->
<!--        </logger>-->
        <logger name="com.lshh.hhp.common.aop.LoggerHttpRequestAop" level="INFO">
            <appender-ref ref="STDOUT" />
        </logger>
<!--        <logger name="org.hibernate.SQL" level="DEBUG" >-->
<!--            <appender-ref ref="STDOUT" />-->
<!--        </logger>-->
<!--        <logger name="org.hibernate.internal.util.EntityPrinter" level="TRACE">-->
<!--            <appender-ref ref="STDOUT" />-->
<!--        </logger>-->
        <logger name="com.lshh.hhp.common.filter.LoggerHttpRequestFilter" level="INFO">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="com.lshh.hhp.common.aop.ControllerAdvice" level="INFO">
            <appender-ref ref="STDOUT" />
        </logger>
<!--        <root level="INFO">-->
<!--            <appender-ref ref="STDOUT" />-->
<!--        </root>-->
    </springProfile>
    <springProfile name="test">
        <!--root: 최상단 logger - 최대 1개만 돌아야 한다-->
        <root level="DEBUG">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
    <springProfile name="aws">
        <logger name="com.lshh.hhp.common.aop.LoggerHttpRequestAop" level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS" />
        </logger>
        <logger name="com.lshh.hhp.common.filter.LoggerHttpRequestFilter" level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS" />
        </logger>
        <logger name="com.lshh.hhp.common.aop.ControllerAdvice" level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS" />
        </logger>
    </springProfile>
</configuration>